openai
langchain
sentence-transformers
tiktoken
pdfminer.six
beautifulsoup4
scrapy
elasticsearch
langchainhub
google-search-results
matplotlib
networkx
scikit-learn
pdf2image
PyMuPDF
prettytable
spire.pdf